@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.button-orange {
  padding: 10px 20px;
  margin: 5px 10px;
  display: block;
  border: 2px solid #db5c01;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 40px 40px #db5c01 inset, 0 0 0 0 #f18d45;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  cursor: pointer;
}

.button-orange:hover,
.button-orange:active {
  color: black;
  box-shadow: 0 0 10px 0 #db5c01 inset, 0 0 10px 4px #db5c01;
}

.block_animation {
  opacity: 0;
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
}

.block_animation._show {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.share {
  width: 45px;
  padding: 0;
  display: block;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 200;
}

.share_btn {
  width: 100%;
  padding: 5px 0;
  display: block;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .4s ease-in-out 0s;
  -webkit-transition: all .4s ease-in-out 0s;
  -moz-transition: all .4s ease-in-out 0s;
  -ms-transition: all .4s ease-in-out 0s;
  -o-transition: all .4s ease-in-out 0s;
}

.share_btn:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.share_btn i {
  color: white;
}

.vk {
  background-color: #2F5070;
}

.instagram {
  background: rgb(189, 22, 238);
  background: linear-gradient(72deg, rgba(189, 22, 238, 1) 15%, rgba(255, 108, 4, 1) 46%, rgba(254, 21, 0, 1) 81%);
}

.telegram {
  background-color: #38A6DB;
}

.odnoklassniki {
  background-color: #D57819;
}

@media (max-width: 1150px) {
  .share {
    width: 250px;
    height: 45px;
    display: flex;
    top: auto;
    bottom: 0;
    left: 10%;
  }
}

.phone_container {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  font-size: 25px;
  background: #db5c01;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 9px 10px -5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 9px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 9px 5px -5px rgba(34, 60, 80, 0.6);
}

.phone {
  position: fixed;
  bottom: 5%;
  right: 8%;
}

.phone_container::before,
.phone_container::after {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border: 1px solid #db5c01;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: phone 1.5s ease-out infinite;
  -webkit-animation: phone 1.5s ease-out infinite;
  opacity: 0;
}

.phone_container::after {
  animation-delay: .5s;
}

@keyframes phone {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}