@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body._lock {
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
}

.header_bg {
  background-image: url(../images/pngwing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header_logo,
.header_logo2 {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
div .logo_img > img {
  width: 150px;
  margin: 1px;
  padding: 1px;
}

.header_logo-text {
  margin: 1px;
  padding: 1px;
  color: #fff;
}

.topnav {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.topnav li {
  display: inline-block;
  list-style: none;
  padding: 8px;
  margin: 0px 10px;
  position: relative;
}

.topnav a {
  text-decoration: none;
  color: #fff;
}

.topnav a:before {
  content: ' ';
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  height: 3px;
  position: absolute;
  bottom: 0;
  background: white;
  left: 50%;
  right: 50%;

}

.topnav a:hover:before {
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.topnav ul {
  display: flex;
  justify-content: center;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0.904);
}

.footer_container-column {
  margin: 10px 5px 50px 5px;
}

.footer_container-column-caption {
  margin: 10px;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #DB5C01;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.footer_container-column-text {
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.menu_icon {
  display: none;
}

@media (max-width: 767px) {
  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    cursor: pointer;
  }

  .header_menu {
    height: 38px;
    display: flex;
    justify-content: center;
    padding-top: 9px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    left: 0;
    width: 100%;
    position: absolute;
    height: 10%;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    background-color: white;
  }

  .menu_icon::before,
  .menu_icon::after {
    content: '';
  }

  .menu_icon::after {
    bottom: 0;
  }

  .menu_icon::before {
    top: 0;
  }

  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    -webkit-transform: scale(1) translate(0px, -50%);
    -moz-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    -o-transform: scale(1) translate(0px, -50%);
  }

  .topnav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 10px;
    overflow: hidden;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}

  .topnav._active {
    left: 0;
    z-index: 300;
  }
  .menu_icon._active {
    z-index: 350;
  }
  .topnav ul {
    display: block;
    padding: 10px;
  }

  .topnav ul li {
    display: block;
  }
}

@media (max-width: 992px) {
  .footer_container-column {
    width: 320px;
  }
}