.bg_image {
  background: url(/images/kappadok_2.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  

  animation-name: change-images;
  animation-duration: 50s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  
}
@keyframes change-images {
  0% {
     background-image: url(/images/kappadok_2.jpg);
  }
  35% {
      background-image: url(/images/background_2.jpg);
  }
  65% {
    background-image: url(/images/background_3.jpg);
  }
  100% {
    background-image: url(/images/kappadok_2.jpg);
  }
  }
  .quote {
    position: absolute;
    width: 300px;
    margin-top: 200px;
    margin-left: 50px;
  }
  .wrapper {
   width: 300px;
   float: right;
   margin-top: 350px;
  }
  .form_title {
  display: inline;
  margin-top: 50px;
  width: 100%;
}
.inner_text > div {
  width: 300px;
  border: 1px solid black;
  height:100px;
  
}
.inner_text {
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-around; 
}